div.input-group#boundary-search-container
	div.d-none.d-sm-flex.input-group-prepend
		span.input-group-text#search-bar-icon
			i.fa.fa-search
	input#boundary-search.form-control(type="text" placeholder="Rechercher un lieu...")

script.
	const searchTextField = document.getElementById("boundary-search");
	searchTextField.value = "";
	let timerSearchInput = null;

	searchTextField.addEventListener("input", e => {
		if(timerSearchInput) {
			clearTimeout(timerSearchInput);
		}

		const text = e.target.value;
		if(text && text.trim().length >= 3) {
			timerSearchInput = setTimeout(() => {
				fetch(`#{CONFIG.NOMINATIM_URL}/search?q=${encodeURIComponent(text)}&format=json&countrycodes=fr&limit=1`)
				.then(res => res.json())
				.then(results => {
					if(results.length > 0) {
						searchTextField.value = results[0].display_name;
						const [ minlat, maxlat, minlon, maxlon ] = results[0].boundingbox.map(v => parseFloat(v));
						const [ south, north, west, east ] = results[0].boundingbox.map(v => parseFloat(v));
						searchTextField.blur();
						map.fitBounds([minlon, minlat, maxlon, maxlat]);
					}
				})
				.catch(e => {
					console.log(e);
				});
			}, 1000);
		}
	});
