##########################################
# General settings
#

COMPOSE_PROJECT_NAME=pdm
COMPOSE_FILE=docker-compose.yml:docker-compose.develop.yml
SETTINGS=settings
CACHE=cache


##########################################
# Database
#

POSTGRES_USER=docker
POSTGRES_PASS=docker
POSTGRES_DBNAME=gis
DB_PORT=35432
PGDB_PORT=6500
POSTGRES_VERSION=13-3.1
WATCH_MODE=true
DATABASE_URL=postgres://docker:docker@db/gis
ALLOW_IP_RANGE= 0.0.0.0/0
POSTGRES_PORT=5432
POSTGRES_HOST=db
DBSCHEMA_PREFIX=pdm
FORCE_SSL=false
SSL_MODE=disable

# Activate these in the osmenrich and imposm if the SSL_MODE is set to verify-full or verify-ca
#SSL_CERT=/etc/certs/cert.pem
#SSL_ROOT_CERT=/etc/certs/root.crt
#SSL_KEY=/etc/certs/key.pem


##########################################
# Runner settings
#

IMPORT_DONE=import_done
IMPORT_RUNNERS=import_runners
IMPORT_QUEUE=import_queue

# Imposm runner settings
SRID=4326
OPTIMIZE=false
CLIP=yes
RUNNER_IMPOSM_TIME=120
RUNNER_OSMUPDATE_TIME=120
# PBF Update every 4 hours
RUNNER_PBFUPDATE_TIME=14400

# Osmupdate runner settings
MAX_DAYS=100
DIFF=sporadic
OSH_DIFF=day
MAX_MERGE=7
COMPRESSION_LEVEL=1
BASE_URL=http://planet.openstreetmap.org/replication/
OSH_URL=https://planet.openstreetmap.org/pbf/full-history/history-latest.osm.pbf
