p= __("Copyright 2020 ProjetDuMois.fr - Développé sous licence libre AGPL 3.0")
div.container.text-left
	div.row
		div.col-12.col-md-6.mb-2
			a(href="https://openstreetmap.fr/" target="_blank")
				| #{__("Un projet supporté par l'association")}
				img.d-block(src="/images/osmfr.svg" alt="OpenStreetMap France" style="max-height: 70px; max-width: 100%")

		div.col-12.col-md-6.mb-2
			a(href="https://digitalprinciples.org/" target="_blank")
				| #{__("Ce projet adhère aux")}
				img.d-block(src="/images/pdd.png" alt=__("Principes pour le développement numérique") style="max-height: 70px; max-width: 100%")
