//- Meta
meta(charset="UTF-8")
title Projet du mois.fr

//- CSS
link(rel="stylesheet" type="text/css" href="/lib/bootstrap/bootstrap.css")
link(rel="stylesheet" type="text/css" href="/lib/mapbox-gl/mapbox-gl.css")
link(rel="stylesheet" type="text/css" href="/lib/chart.js/chart.css")
style
	include index.css

//- JS
script(src="/lib/mapbox-gl/mapbox-gl.js")
script(src="/lib/chart.js/chart.js")
