//- Original template from https://getbootstrap.com/docs/4.5/examples/blog/
doctype html
html(lang="fr")
	head
		//- Meta
		meta(charset="UTF-8")
		title Projet du mois.fr

		//- CSS
		link(rel="stylesheet" type="text/css" href="/lib/bootstrap/bootstrap.css")
		link(rel="stylesheet" type="text/css" href="/lib/mapbox-gl/mapbox-gl.css")
		link(rel="stylesheet" type="text/css" href="/lib/chart.js/chart.css")
		style
			include index.css

		//- JS
		script(src="/lib/mapbox-gl/mapbox-gl.js")
		script(src="/lib/chart.js/chart.js")
	body
		div.container
			//- Header
			header.blog-header.py-3
				div.row.flex-nowrap.justify-content-between.align-items-center
					div.col-12.text-center
						a.blog-header-logo.text-dark(href="#") Projet du mois.fr

			//- Nav links
			div.nav-scroller.py-1.mb-2
				nav.nav.d-flex.justify-content-between
					a.p-2.text-muted(href="#summary") Au programme
					a.p-2.text-muted(href="#contribute") Participer
					a.p-2.text-muted(href="#statistics") Statistiques
					a.p-2.text-muted(href="#about") À propos

			//- Project summary
			div#summary.jumbotron.p-4.p-md-5.text-white.rounded.bg-dark
				div.col-md-8.px-0
					h1.display-4.font-italic= `Au programme ce mois-ci : ${title}`
					p.lead.my-3= summary
					p.lead.mb-0
						a.text-white.font-weight-bold(href="#contribute") Participer

		main.container(role="container")
			div.blog-main
				//- Contribute
				div#contribute.blog-post
					h2.blog-post-title Participer
					div.row
						div.col-lg-8
							include geocoder.pug
							include map.pug
						div.col-lg-4
							p Descriptif synthétique de la mission et ce qu'il faut faire en lien avec la carte

				//- Statistics
				include stats.pug

				//- About
				div.row
					div#about.blog-post.col-md-8
						include:markdown-it ../../README.md
					aside.col-md-4.blog-sidebar
						div.p-4.mb-3.rounded
							h4.font-italic Projets passés
							ol.list-unstyled
								each pastProj in past
									li: a(href=`/past/${pastProj.id}`)= pastProj.label
								li: a(href="https://wiki.openstreetmap.org/wiki/FR:Project_of_the_month#Projets_pass.C3.A9s" rel="noopener") Davantage sur le wiki OSM
							h4.font-italic En savoir plus
							ul.list-unstyled.mb-0
								li: a(href=CONFIG.REPOSITORY_URL rel="noopener") Code source du projet
								li: a(href="https://openstreetmap.fr" rel="noopener") OpenStreetMap France

		//- Footer
		footer.blog-footer
			p Copyright 2020 ProjetDuMois.fr - Développé sous licence libre AGPL 3.0
