//- Original template from https://getbootstrap.com/docs/4.5/examples/blog/
doctype html
html(lang="en")
	head
		include common/head.pug

		block head
	body
		//- Header
		include common/body_header.pug

		//- Nav links
		if CONFIG
			nav.navbar.navbar-light.sticky-top.navbar-pdm
				div.container.d-flex.p-0.px-sm-3.align-items-center.justify-content-between
					div.d-flex.align-items-center
						a.mr-2(href="/" title=__("Home"))
							img.d-none.d-md-inline-block(style="height: 40px" src="/images/favicon.png")
							img.d-md-none(style="height: 40px" src="/images/logo_mini.png")
							h1.d-md-none= CONFIG.WEBSITE_NAME
						div.navbar-pdm-links.d-none.d-md-block
							block navbar
					+user_button

		block content

		div.d-flex.align-items-start(style="max-height: 250px; overflow: hidden")
			img.w-100(src="/images/background.png")

		//- About
		footer.blog-footer
			block footer
			include common/footer.pug
