div#map.map-main

script.
	const map = new mapboxgl.Map({
		container: 'map',
		pitchWithRotate: false,
		dragRotate: false,
		hash: true,
		bounds: [-5.010, 41.212, 10.019, 51.234],
		style: {
			version: 8,
			name: "ProjetDuMois.fr",
			sources: {
				osm: {
					type: "raster",
					tiles: [ "https://tile.openstreetmap.org/{z}/{x}/{y}.png" ],
					maxzoom: 19,
					attribution: "&copy; OpenStreetMap"
				}
			},
			layers: [
				{
					id: "osm",
					source: "osm",
					type: "raster"
				}
			]
		}
	});

	map.addControl(new mapboxgl.NavigationControl({ showCompass: false }));
