div#statistics.blog-post
	h2.blog-post-title.mb-3 Statistiques

	//- Synthetic stats
	div.row.mb-4
		div.col-md-4
			div.p-4.no-gutters.border.rounded.overflow-hidden.flex-md-row.shadow-sm.position-relative
				h3#stats-pctdone.mb-0 ?%
				p.card-text.mb-auto des tâches terminées
		div.col-md-4
			div.p-4.no-gutters.border.rounded.overflow-hidden.flex-md-row.shadow-sm.position-relative
				h3#stats-contributors.mb-0 ?
				p.card-text.mb-auto contributeurs
		div.col-md-4
			div.p-4.no-gutters.border.rounded.overflow-hidden.flex-md-row.shadow-sm.position-relative
				if new Date(end_date).getTime() >= Date.now()
					h3.mb-0= Math.round((new Date(end_date+"T23:59:59Z").getTime() - Date.now()) / (1000*3600*24))
					p.card-text.mb-auto jours restants
				else
					h3.mb-0= Math.round((new Date(end_date+"T23:59:59Z").getTime() - new Date(start_date+"T00:00:00Z").getTime()) / (1000*3600*24))
					p.card-text.mb-auto jours de contributions

	div.row
		//- Leaderboard
		div.col-md-5
			h3 Classement
			div.overflow-auto(style="height: 300px")
				table.table.table-sm
					thead
						tr
							th(scope="col") #
							th(scope="col") Pseudo
							th(scope="col") Éditions
					tbody#stats-leaderboard

		//- Charts
		div.col-md-7
			h3 Évolution
			canvas#stats-chart.chart-100w(height="300")

script.
	fetch("/projects/#{id}/stats")
	.then(res => res.json())
	.then(res => {
		// % of done tasks
		document.getElementById("stats-pctdone").innerHTML = res.pctTasksDone+" %";

		// Amount of contributors
		document.getElementById("stats-contributors").innerHTML = res.nbContributors;

		// Leaderboard
		const leaderboardBody = document.getElementById("stats-leaderboard");
		res.leaderboard.map((lb,i) => {
			const tr = document.createElement("tr");

			const td1 = document.createElement("td");
			td1.setAttribute("scope", "row");
			td1.appendChild(document.createTextNode(i+1));
			tr.appendChild(td1);

			const td2 = document.createElement("td");
			td2.appendChild(document.createTextNode(lb.username));
			tr.appendChild(td2);

			const td3 = document.createElement("td");
			td3.appendChild(document.createTextNode(lb.amount));
			tr.appendChild(td3);

			return tr;
		})
		.forEach(d => leaderboardBody.appendChild(d));

		// Evolution chart
		const ctx = document.getElementById("stats-chart").getContext("2d");
		const myChart = new Chart(ctx, {
			type: "line",
			data: {
				datasets: res.chart
			},
			options: {
				responsive: true,
				scales: {
					xAxes: [{
						type: 'time',
						bounds: 'ticks',
						time: {
							tooltipFormat: "DD/MM",
							displayFormats: {
								day: "DD/MM"
							}
						}
					}],
					yAxes: [{
						ticks: {
							beginAtZero: true
						}
					}]
				}
			}
		});
	});
