body {
	font-size: 1.2rem;
}

.blog-header {
	line-height: 1;
	border-bottom: 1px solid #e5e5e5;
}

.blog-header-logo {
	max-width: 300px;
	max-height: 120px;
}

.display-4 {
	font-size: 2.5rem;
}

@media (max-width: 576px) {
	.jumbotron h1 {
		font-size: 1.5rem;
	}

	.jumbotron .pdm-project-date {
		font-size: 1.2rem;
	}
}

@media (min-width: 576px) and (max-width: 768px) {
	.jumbotron h1 {
		font-size: 2rem;
	}

	.jumbotron .pdm-project-date {
		font-size: 1.5rem;
	}
}

@media (max-width: 768px) {
	.jumbotron .pdm-project-badge {
		right: 10px;
		z-index: 10;
	}
}

@media (min-width: 768px) {
	.display-4 {
		font-size: 3rem;
	}

	.jumbotron .pdm-project-badge {
		right: 30px;
		top: 30px;
		z-index: 10;
	}
}

.jumbotron .lead {
	font-size: 1.3rem;
}

.pdm-section-highlight {
	border-top: 1px solid #f1f1f1;
	border-bottom: 1px solid #f1f1f1;
	background-color: #f6f6f6;
}

a.dropdown-item:not([href]):hover {
	cursor: pointer;
}

.container-svg-fa {
	line-height: 1;
}

.container-svg-fa svg {
	max-width: 100%;
	max-height: 100%;
}

.btn-floating {
	position: absolute;
	right: 10px;
	bottom: 30px;
	z-index: 90;
	width: 70px;
	height: 70px;
	border-radius: 35px;
	line-height: 60px;
	font-size: 25px;
}

@media (min-width: 768px) {
	.btn-floating {
		width: 90px;
		height: 90px;
		line-height: 80px;
		font-size: 35px;
		border-radius: 45px;
	}
	.btn-floating .fa {
	display: block;
	}
}

.dropdown-menu {
	font-size: 1.1rem;
}


/*
* Blog posts
*/
.blog-post {
	margin-bottom: 2rem;
}
.blog-post-title {
	margin-bottom: .25rem;
	font-size: 2.5rem;
}
.blog-post-meta {
	margin-bottom: 1.25rem;
	color: #999;
}

/*
 * Footer
 */
.blog-footer {
	padding: 2.5rem 0;
	color: #999;
	text-align: center;
	background-color: #f9f9f9;
	border-top: .05rem solid #e5e5e5;
}
.blog-footer p:last-child {
	margin-bottom: 0;
}

/*
 * Project
 */

a.pdm-link {
	color: #007bff;
	text-decoration: none;
}

a.pdm-link:hover {
	color: #0056b3;
	cursor: pointer;
	text-decoration: underline;
}

.connect-osm:hover {
	cursor: pointer;
	text-decoration: underline;
}

.connect-osm.btn:hover {
	text-decoration: none;
	color: white;
}

img.stats-badge-mini {
	height: 32px;
	margin: 5px;
}

div.btn-over-wide {
	position: relative;
}

div.btn-over-wide a.btn {
	pointer-events: none;
	position: absolute;
}

a.pdm-wide-link {
	display: block;
	width: 100%;
	height: 150px;
	color: white;
	font-size: 1.5rem;
	border-radius: 5px;
	text-align: center;
	line-height: 150px;
	transition: opacity 0.2s;
	border: 3px solid #222;
}

a.pdm-wide-link:hover {
	text-decoration: none;
	opacity: 0.9;
}

a.pdm-wide-link.map {
	background: url('/images/map.jpg') no-repeat center center;
	background-size: cover;
}

/*
 * Navbar
 */

.navbar-pdm {
	background-color: white;
	border-bottom: 1px solid #e5e5e5;
	margin-bottom: 2rem;
	z-index: 10000;
}

@media (max-width: 768px) {
	.navbar-pdm {
		margin-bottom: 0.5rem;
	}
}

.navbar-pdm-links a {
	padding: 15px;
	color: #1562ac;
}

.navbar-pdm-links a:hover {
	text-decoration: none;
	background-color: #1562ac;
	color: white;
}

.navbar-pdm-links a span {
	margin-left: 10px;
}

@media (max-width: 768px) {
	.navbar-pdm-links a i {
		text-align: center;
		width: 40px;
		font-size: 24px;
	}

	.navbar-pdm-links a span {
		display: none;
	}
}

a.navbar-brand {
	padding: 0 !important;
	cursor: pointer;
}

a.navbar-brand img {
	height: 40px;
}

a.navbar-brand:hover {
	color: #aaa !important;
}

#boundary-search-container {
	width: 100%;
	max-width: 300px;
}

#boundary-search {
	height: 38px;
	font-size: 1.2rem;
}


/*
 * Map
 */

.map-main {
	position: absolute;
	top: 55px;
	bottom: 0;
	left: 0;
	right: 0;
}

.map-ctrl-custom {
	min-height: 20px;
	padding: 2px 4px;
	margin: 10px;
	margin-top: 10px;
	position: relative;
	background-color: #fff;
	border-radius: 3px;
}

.map-ctrl-btn {
	min-height: 20px;
	padding: 2px 4px;
	margin: 10px;
	margin-top: 10px;
	position: relative;
	background-color: #fff;
	border-radius: 3px;
	width: 29px;
	height: 29px;
	box-shadow: 0 0 0 2px rgba(0,0,0,.1);
	text-align: center;
}

.map-ctrl-btn:hover {
	background-color: #F2F2F2;
}

.map-ctrl-btn a {
	display: block;
	line-height: 26px;
	width: 21px;
	height: 25px;
	text-decoration: none !important;
}

.map-legend > div {
	display: flex;
	align-items: center;
	line-height: 1.5rem;
	cursor: pointer;
	align-items: baseline;
}

.map-legend > div > span {
	margin-right: 5px;
	width: 12px;
	height: 12px;
}

.text-line-through {
	text-decoration: line-through;
}

.map-alert {
	position: absolute;
	bottom: 0;
	left: 5%;
	right: 5%;
	text-align: center;
	z-index: 100;
}

@media (min-width: 768px) {
	.map-alert {
		left: 25%;
		right: 25%;
	}
}

.mapboxgl-ctrl-group button,
.map-ctrl-btn {
	width: 32px;
	height: 32px;
}



/*
 * Map sidebar
 */

#pdm-map-sidebar {
	position: absolute;
	top: 55px;
	left: 0;
	bottom: 0;
	width: 80%;
	z-index: 1000;
	color: #555;
	transition: left 0.5s;
}

#pdm-map-sidebar.pdm-hidden {
	left: -80%;
}

#pdm-map-sidebar .alert.alert-info {
	font-size: 1rem;
	padding: 0.5rem 1.0rem;
}

#pdm-map-sidebar .pdm-sidebar-mask {
	position: fixed;
	top: 56px;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0,0,0,0.7);
	transition: background-color 0.5s, visibility 0.5s;
}

#pdm-map-sidebar.pdm-hidden .pdm-sidebar-mask {
	background-color: rgba(0,0,0,0);
	visibility: hidden;
}

.pdm-sidebar-content {
	z-index: 1;
	position: absolute;
	background-color: #fff;
}

@media (min-width: 576px) {
	#pdm-map-sidebar {
		width: 300px;
	}

	#pdm-map-sidebar.pdm-hidden {
		left: -300px;
	}

	#pdm-map-sidebar .pdm-sidebar-mask {
		display: none;
		visibility: hidden;
	}
}

.pdm-note-comment p {
	margin: 0;
}

.pdm-note-comment p a {
	word-wrap: break-word !important;
}

#menu-swiper {
	position: fixed;
	top: 43%;
	left: 0;
	bottom: 43%;
	background-color: #fafafa;
	width: 25px;
	z-index: 100;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 1px 1px 5px rgba(0,0,0,.2);
}

#menu-swiper span {
	border-radius: 3px;
	width: 5px;
	height: 50%;
	background-color: #bdbdbd;
	display: block;
}


/* Features list */

#pdm-sidebar-features-list {
	margin: 0 -16px;
}

.pdm-features-list-entry {
	border-bottom: 1px solid rgba(0,0,0,.12);
	padding: 10px 16px;
	display: flex;
	cursor: pointer;
	min-height: 56px;
}

.pdm-features-list-entry:hover {
	background-color: #F6F6F6;
}

.pdm-features-list-entry:first-child {
	border-top: 1px solid rgba(0,0,0,.12);
}

.pdm-features-list-entry h6 {
	line-height: 1.2;
	margin-bottom: 2px;
	font-size: 1rem;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: rgba(0,0,0,.87) !important;
}

.pdm-features-list-entry p {
	font-size: 0.9rem;
	color: rgba(0,0,0,.6);
	line-height: 1.2;
	margin-bottom: 2px;
	font-size: .875rem;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.pdm-features-list-entry div.pdm-features-list-entry-details {
	max-width: 80%;
}

.pdm-features-list-entry div.pdm-color-patch {
	width: 20px;
	height: 20px;
	border-radius: 16px;
	border: 4px solid;
	margin: 3px 10px 0 0;
	background-color: white;
}



/*
 * Progress circular
 */

.progress{
	width: 70px;
	height: 70px;
	line-height: 70px;
	background: none;
	margin: 0 auto;
	box-shadow: none;
	position: relative;
}
.progress > span{
	width: 50%;
	height: 100%;
	overflow: hidden;
	position: absolute;
	top: 0;
	z-index: 1;
}
.progress .progress-left{
	left: 0;
	pointer-events: none;
}
.progress .progress-bar{
	width: 100%;
	height: 100%;
	background: none;
	border-width: 6px;
	border-style: solid;
	position: absolute;
	top: 0;
	border-color: #F57F17;
	pointer-events: none;
}
.progress .progress-left .progress-bar{
	left: 100%;
	border-top-right-radius: 80px;
	border-bottom-right-radius: 80px;
	border-left: 0;
	-webkit-transform-origin: center left;
	transform-origin: center left;
}
.progress .progress-right{
	right: 0;
	pointer-events: none;
}
.progress .progress-right .progress-bar{
	left: -100%;
	border-top-left-radius: 80px;
	border-bottom-left-radius: 80px;
	border-right: 0;
	-webkit-transform-origin: center right;
	transform-origin: center right;
}
.progress .progress-value{
	width: 90%;
	height: 90%;
	border-radius: 50%;
	font-size: 24px;
	color: #fff;
	line-height: 135px;
	text-align: center;
	position: absolute;
	top: 5%;
	left: 5%;
}
.progress .progress-value img {
	height: 96%;
	position: absolute;
	left: 2%;
	top: 2%;
	filter: grayscale(100%);
}
.progress.load-0 .progress-right .progress-bar{
	animation: loading-0 0.3s linear forwards 0.5s;
}
.progress.load-1 .progress-right .progress-bar{
	animation: loading-1 0.4s linear forwards 0.5s;
}
.progress.load-2 .progress-right .progress-bar{
	animation: loading-2 0.5s linear forwards 0.5s;
}
.progress.load-3 .progress-right .progress-bar{
	animation: loading-3 0.6s linear forwards 0.5s;
}
.progress.load-4 .progress-right .progress-bar{
	animation: loading-4 0.7s linear forwards 0.5s;
}
.progress.load-5 .progress-right .progress-bar,
.progress.load-6 .progress-right .progress-bar,
.progress.load-7 .progress-right .progress-bar,
.progress.load-8 .progress-right .progress-bar,
.progress.load-9 .progress-right .progress-bar{
	animation: loading-5 0.8s linear forwards 0.5s;
}
.progress.load-6 .progress-left .progress-bar{
	animation: loading-1 0.2s linear forwards 1.3s;
}
.progress.load-7 .progress-left .progress-bar{
	animation: loading-2 0.3s linear forwards 1.3s;
}
.progress.load-8 .progress-left .progress-bar{
	animation: loading-3 0.4s linear forwards 1.3s;
}
.progress.load-9 .progress-left .progress-bar{
	animation: loading-4 0.5s linear forwards 1.3s;
}
@keyframes loading-0{
	0%{
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100%{
		-webkit-transform: rotate(18deg);
		transform: rotate(18deg);
	}
}
@keyframes loading-1{
	0%{
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100%{
		-webkit-transform: rotate(36deg);
		transform: rotate(36deg);
	}
}
@keyframes loading-2{
	0%{
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100%{
		-webkit-transform: rotate(72deg);
		transform: rotate(72deg);
	}
}
@keyframes loading-3{
	0%{
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100%{
		-webkit-transform: rotate(108deg);
		transform: rotate(108deg);
	}
}
@keyframes loading-4{
	0%{
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100%{
		-webkit-transform: rotate(144deg);
		transform: rotate(144deg);
	}
}
@keyframes loading-5{
	0%{
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100%{
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg);
	}
}
