body {
	font-size: 1.05rem;
}

.blog-header {
	line-height: 1;
	border-bottom: 1px solid #e5e5e5;
}

.blog-header-logo {
	max-width: 300px;
	max-height: 120px;
}

.display-4 {
	font-size: 2.5rem;
}
@media (min-width: 768px) {
	.display-4 {
		font-size: 3rem;
	}
}

.pdm-section-highlight {
	border-top: 1px solid #f1f1f1;
	border-bottom: 1px solid #f1f1f1;
	background-color: #f6f6f6;
}

a.dropdown-item:not([href]):hover {
	cursor: pointer;
}

.container-svg-fa {
	line-height: 1;
}

.container-svg-fa svg {
	max-width: 100%;
	max-height: 100%;
}

/*
* Blog posts
*/
.blog-post {
	margin-bottom: 2rem;
}
.blog-post-title {
	margin-bottom: .25rem;
	font-size: 2.5rem;
}
.blog-post-meta {
	margin-bottom: 1.25rem;
	color: #999;
}

/*
 * Footer
 */
.blog-footer {
	padding: 2.5rem 0;
	color: #999;
	text-align: center;
	background-color: #f9f9f9;
	border-top: .05rem solid #e5e5e5;
}
.blog-footer p:last-child {
	margin-bottom: 0;
}

/*
 * Project
 */

a.pdm-link {
	color: #007bff;
	text-decoration: none;
}

a.pdm-link:hover {
	color: #0056b3;
	cursor: pointer;
	text-decoration: underline;
}

.connect-osm:hover {
	cursor: pointer;
	text-decoration: underline;
}

.connect-osm.btn:hover {
	text-decoration: none;
	color: white;
}

img.stats-badge-mini {
	height: 32px;
	margin: 5px;
}

div.btn-over-wide {
	position: relative;
}

div.btn-over-wide a.btn {
	position: absolute;
	bottom: 10px;
	left: 10px;
	pointer-events: none;
}

a.pdm-wide-link {
	display: block;
	width: 100%;
	height: 150px;
	color: white;
	font-size: 1.5rem;
	border-radius: 5px;
	text-align: center;
	line-height: 150px;
	transition: opacity 0.2s;
	border: 3px solid #222;
}

a.pdm-wide-link:hover {
	text-decoration: none;
	opacity: 0.9;
}

a.pdm-wide-link.books {
	background: url('/images/osmwiki.jpg') no-repeat center center;
	background-size: cover;
}

a.pdm-wide-link.map {
	background: url('/images/map.jpg') no-repeat center center;
	background-size: cover;
}

/*
 * Navbar
 */

.navbar-pdm {
	background-color: white;
	border-bottom: 1px solid #e5e5e5;
	margin-bottom: 2rem;
}

a.navbar-brand {
	padding: 0 !important;
}

a.navbar-brand img {
	height: 40px;
}

a.navbar-brand:hover {
	color: #aaa !important;
}

#boundary-search-container {
	width: 100%;
	max-width: 300px;
}

@media (max-width: 576px) {
	#boundary-search {
		border-radius: 0.25rem !important;
	}
}

.pdm-user-button .dropdown-menu.show {
	left: -50px;
}

@media (max-width: 576px) {
	.pdm-user-button .dropdown-menu.show {
		left: -130px;
	}
}


/*
 * Map
 */

.map-main {
	position: absolute;
	top: 55px;
	bottom: 0;
	left: 0;
	right: 0;
}

.map-ctrl-custom {
	min-height: 20px;
	padding: 2px 4px;
	margin: 10px;
	margin-top: 10px;
	position: relative;
	background-color: #fff;
	border-radius: 3px;
}

.map-ctrl-btn {
	min-height: 20px;
	padding: 2px 4px;
	margin: 10px;
	margin-top: 10px;
	position: relative;
	background-color: #fff;
	border-radius: 3px;
	width: 29px;
	height: 29px;
	box-shadow: 0 0 0 2px rgba(0,0,0,.1);
	text-align: center;
}

.map-ctrl-btn:hover {
	background-color: #F2F2F2;
}

.map-ctrl-btn a {
	display: block;
	line-height: 26px;
	width: 21px;
	height: 25px;
	text-decoration: none !important;
}

.map-legend > div {
	display: flex;
	align-items: center;
	line-height: 1.5rem;
}

.map-legend > div > span {
	font-size: 2rem;
	margin-right: 5px;
}

.map-alert {
	position: absolute;
	bottom: 0;
	left: 5%;
	right: 5%;
	text-align: center;
	z-index: 10;
}

@media (min-width: 768px) {
	.map-alert {
		left: 25%;
		right: 25%;
	}
}

/*
 * Map sidebar
 */

#pdm-map-sidebar {
	position: absolute;
	top: 55px;
	left: 0;
	bottom: 0;
	width: 100%;
	z-index: 1000;
	background-color: white;
	transition: left 0.5s;
}

#pdm-map-sidebar.pdm-hidden {
	left: -100%;
}

#pdm-map-sidebar .pdm-sidebar-buttons {
	position: absolute;
	right: 10px;
}

#pdm-map-sidebar .pdm-sidebar-buttons button {
	background-color: white;
}

#pdm-map-sidebar.pdm-hidden .pdm-sidebar-buttons {
	right: -42px;
}

#pdm-map-sidebar .pdm-sidebar-buttons button:hover {
	background-color: #6c757d
}

@media (min-width: 576px) {
	#pdm-map-sidebar {
		width: 300px;
	}

	#pdm-map-sidebar.pdm-hidden {
		left: -300px;
	}

	#pdm-map-sidebar .pdm-sidebar-buttons {
		right: -42px;
	}
}
