doctype html
html(lang="en")
	head
		include ../common/head.pug

		//- Specific libraries
		script(src="/lib/swiped-events/swiped-events.js")
		script(src="/turf.js")
		script.
			const booleanContains = turf.default;
		include ../components/pictures.pug

	body(data-swipe-ignore="true")
		include ../components/issues_navbar.pug
		include ../components/issues_sidebar.pug
		include ../components/issues_list.pug
