extends ../layout.pug

block content
	div.container.mt-4.mb-5
		h2.mb-2
			i.fa.fa-wrench.mr-2
			| #{__("Maintenance en cours")}

		p= __("Le site est en cours de maintenance, la magie opère en coulisses !")
			br
			= __("Veuillez réessayer un peu plus tard, merci pour votre compréhension.")

