extends ../layout.pug

block content
	div.container.mt-4.mb-5
		h2.mb-2
			i.fa.fa-wrench.mr-2
			| #{__("Maintenance in progress")}

		p= __("The website is in maintenance, some magic happening behind the scenes!")
			br
			= __("Please try again later, thanks for your understanding.")

