//- Original template from https://getbootstrap.com/docs/4.5/examples/blog/
doctype html
html(lang="fr")
	head
		include ../common/head.pug

		//- Map specific libraries
		script(src="/lib/mapbox-gl/mapbox-gl.js")
		script(src="/lib/swiped-events/swiped-events.js")
		script(src="/lib/pic4carto/pic4carto.js")
		script(src="/turf.js")
		script.
			const booleanContains = turf.default;
		include ../components/pictures.pug

	body(data-swipe-ignore="true")
		include ../components/map_navbar.pug
		include ../components/map_sidebar.pug
		include ../components/map.pug
